<odoo>

    <data>

        <menuitem id="sekolah_menu_root" name="Sekolah"/>

        <menuitem id="menu_siswa_sekolah_data" 
            name="Siswa" 
            parent="sekolah_menu_root"
            action="action_siswa"
            sequence="1"/>

        <menuitem id="menu_kelas_data" 
            name="Kelas" 
            parent="sekolah_menu_root"
            action="action_kelas"
            sequence="2"/>

        <menuitem id="menu_mata_pelajaran_data" 
            name="Mata Pelajaran" 
            parent="sekolah_menu_root"
            action="action_mata_pelajaran"
            sequence="3"/>

        <menuitem id="menu_master_data_sekolah" 
            name="Master Data" 
            parent="sekolah_menu_root"
            sequence="4"/>

        <menuitem id="menu_guru_data" 
            name="Guru" 
            parent="menu_master_data_sekolah"
            action="action_guru"
            sequence="1"/>

        <menuitem id="menu_jadwal_data" 
            name="Jadwal" 
            parent="menu_master_data_sekolah"
            action="action_jadwal"
            sequence="2"/>

    </data>

</odoo>